header {
    background: #00BFFF;
    margin: 10px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    font-family: 'Times New Roman';
    text-align: center; 
}

body{
    font-family: Verdana;
    font-size: 20px;
    vertical-align: auto;
}

script{
    margin-top: 20px;
    padding: 20px;

}
img {
    position: absolute;
    top:0; right:0; bottom:0; left:0; 
    margin: auto;
}

ul {
    margin-left: 200px;
    margin-right: 200px;
}

.tweet {
    background-color: white;
    padding: 10px;
    border: 5px #09BFFF;
}