header {
    background: #87CEEB;
    margin-left: 240px;
    margin-right: 200px;
    padding: 10px;
    font-family: 'Helvetica Neue';
    color: white;
    text-align: center; 
}

.imgLeft {
    margin-top: 0px;
    margin-left:240px;
}

.imgRight {
    margin-top: 0px;
    margin-right:200px;
}

.refreshButton {
    position: absolute;
    left: 43%;
    padding: 50px;
    margin-top: -25px;
    font-size: 50px;
    
}

body{
    font-family: Verdana;
    font-size: 20px;
    vertical-align: auto;
}

script{
    margin-top: 20px;
    padding: 20px;

}
img {
    position: absolute;
    top:0; right:0; bottom:0; left:0; 
    margin: auto;
}

ul {
    margin-left: 200px;
    margin-right: 200px;
}

.tweet {
    background-color: white;
    padding: 10px;
    border: 5px #09BFFF;
}
div {
    background-color: #B9EBFF;
}